[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# lovely/lovely.toml
# Base mod patches

# 1. MISCELLANEOUS
# 2. CARD BONUSES
# 3. BANANA BLINDS



# ------------- #
# MISCELLANEOUS #
# ------------- #

# function G.FUNCS.evaluate_play
# Tag calculations pre-scoring
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
mult, hand_chips = mod_mult(mult), mod_chips(hand_chips)
'''
position = "after"
payload = '''
check_and_set_high_score('best_glop', glop)
for i = 1, #G.GAME.tags do
    G.GAME.tags[i]:apply_to_run({type = 'scoring'})
end
'''
match_indent = true

# function update_hand_text
# Floating point resolution (visual)
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
if delta < 0 then delta = ''..delta; col = G.C.RED
'''
position = "before"
payload = '''
if type(delta) == 'number' then
    delta = tonumber(('%.3f'):format(delta))
end
'''
match_indent = true

# In Steamodded:
# function SMODS.calculate_effect
# Increase Glop per chip/mult/glop/etc increase
[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''
if not SMODS.silent_calculation[key] then
    percent = (percent or 0) + (percent_delta or 0.08)
end
'''
position = "after"
payload = '''
if Potassium.calc_keys.all[key] then
    SMODS.Scoring_Parameters.kali_glop:modify(G.GAME.kali_glop_increase_from_calc_keys)
end
'''
match_indent = true



# ------------ #
# CARD BONUSES #
# ------------ #

# function Card:set_ability
# Set defaults for permanent card bonuses
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
self.ability = self.ability or {}
'''
position = "before"
payload = '''
Glop_f.add_ability_values(self, center, new_ability)
'''
match_indent = true

# function Card:generate_UIBox_ability_table
# Prime specific_vars for playing cards
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
elseif self.ability.set == 'Joker' then -- all remaining jokers
'''
position = "before"
payload = '''
Glop_f.add_bonus_vars(self, loc_vars)
'''
match_indent = true

# function eval_card
# Calculate card bonuses for played cards
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
-- TARGET: main scoring on played cards
'''
position = "after"
match_indent = true
payload = '''
Glop_f.additional_played_card_effects(card, ret)
'''

# function eval_card
# Calculate card bonuses for held cards
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
-- TARGET: main scoring on held cards
'''
position = "after"
match_indent = true
payload = '''
Glop_f.additional_held_card_effects(card, ret)
'''



# ------------- #
# BANANA BLINDS #
# ------------- #

# function create_UIBox_your_collection_blinds
# Banana blinds are sorted later
[[patches]]
[patches.pattern]
target = '''functions/UI_definitions.lua'''
pattern = '''
table.sort(blind_tab, function(a, b) return a.order + (a.boss and a.boss.showdown and 1000 or 0) < b.order + (b.boss and b.boss.showdown and 1000 or 0) end)
'''
position = "after"
payload = '''
table.sort(blind_tab, function(a, b) return a.order + (a.boss and a.boss.banana and 1000 or 0) < b.order + (b.boss and b.boss.banana and 1000 or 0) end)
'''
match_indent = true

# function ease_background_colour_blind
# Unique background for banana blinds
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
if v.boss.showdown then 
    ease_background_colour{new_colour = G.C.BLUE, special_colour = G.C.RED, tertiary_colour = darken(G.C.BLACK, 0.4), contrast = 3}
    return
'''
position = "after"
payload = '''
elseif v.boss and v.boss.banana then 
    ease_background_colour{new_colour = G.C.BANAN2, special_colour = G.C.BANAN1, tertiary_colour = darken(G.C.BLACK, 0.4), contrast = 3}
    return
'''
match_indent = true

# function Blind:set_blind
# Also cause background spin on banana blinds
[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = '''
G.ARGS.spin.real = (G.SETTINGS.reduced_motion and 0 or 1)*(self.config.blind.boss and (self.config.blind.boss.showdown and 0.5 or 0.25) or 0)
'''
position = "after"
payload = '''
if self.config.blind.boss and self.config.blind.boss.banana then
    G.ARGS.spin.real = (G.SETTINGS.reduced_motion and 0 or 1)*0.5
end
'''
match_indent = true

# function Blind:load
# Also cause background spin on banana blinds
[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = '''
G.ARGS.spin.real = (G.SETTINGS.reduced_motion and 0 or 1)*(self.config.blind.boss and (self.config.blind.boss.showdown and 1 or 0.3) or 0)
'''
position = "after"
payload = '''
if self.config.blind.boss and self.config.blind.boss.banana then
    G.ARGS.spin.real = (G.SETTINGS.reduced_motion and 0 or 1)*1
end
'''
match_indent = true